/* text and font stuff */

body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

/* head and footer stuff */


header,
footer {
    background-color: #777999;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}

/* this is all the main contentent */

main {
    margin-bottom: 2em;
}

img[alt=meCrying] {
    width: 300px;
    height: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-areas: 
        "hr hr hr hr hr hr hr hr hr hr hr hr"
        ". . m m m m m m m m . ."
    ;
    background-color: aquamarine;
}

.gallaryWrap{
    grid-area: m;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr 1fr;
}

.gallaryWrap > img{
    padding: 1em;
}

.heroImg{
    grid-area: hr;
    position: relative;
}

.ather{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}



/* this is all the colume stuff stuff */
.columns {
    Width: 100%;
    background-color: green;
    float: right;
}
.column1, .column2 {
    width:100%;
}
    @media (min-width: 48em) {
      .column1 {
        width: 70%;
        float:left;
        background-color: purple;
      }
      
      .column2 {
        width: 30%;
        float:right;
        background-color: pink;
      }
    

}
