---
layout: base
---

<div class="hero">
    <h2>{{hero.title }}</h2>
</div>

<div class="wrapper">
    <div class="heroImg">
        <img src="{{Hero-Img.link}}" alt="{{Hero-Img.alt}}">
    </div>
    

    <div class="columns">
        <div class="column1">
            <div class="gallaryWrap">
                <div class="photoUnit">
                    <img src="{{I1.link}}" alt="{{I1.alt}}">
                    <p>{{I1.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I2.link}}" alt="{{I2.alt}}">
                    <p>{{I2.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I3.link}}" alt="{{I3.alt}}">
                    <p>{{I3.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I4.link}}" alt="{{I4.alt}}">
                    <p>{{I4.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I5.link}}" alt="{{I5.alt}}">
                    <p>{{I5.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I6.link}}" alt="{{I6.alt}}">
                    <p>{{I6.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I7.link}}" alt="{{I7.alt}}">
                    <p>{{I7.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I8.link}}" alt="{{I8.alt}}">
                    <p>{{I8.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I9.link}}" alt="{{I9.alt}}">
                    <p>{{I9.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I10.link}}" alt="{{I10.alt}}">
                    <p>{{I10.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I11.link}}" alt="{{I11.alt}}">
                    <p>{{I11.alt}}</p>
                </div>
                <div class="photoUnit">
                    <img src="{{I12.link}}" alt="{{I12.alt}}">
                    <p>{{I12.alt}}</p>
                </div>
            </div>
        </div>
        <div class="column2">
          <div class="ather">
            <img src="{{cryingMan.link}}" alt="{{cryingMan.alt}}" class="atherImg">
            <h2>{{atherName}}</h2>
          </div>
          <p>{{atherAbout}}</p>
          <div class="advert">
            <img src="{{ad1.link}}" alt="{{ad1.alt}}">
          </div>
          <div class="advert">
            <img src="{{ad2.link}}" alt="{{ad2.alt}}">
          </div>
       </div>
     </div>


    
</div>



<div class="main-content">
    {{ content }}
</div>