/* text and font stuff */

body {
    font-size: 16px;
    background-color: #ded9c7;
    
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 1.6em;
    font-family: 'Pacifico', cursive;
}

h3 {
    font-size: 1.4em;
    font-family: 'Pacifico', cursive;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Comic Neue', cursive;
}

/* head and footer stuff */



header,
footer {
    background-color: #eddb73;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: #9acac5;
    min-height: 5em;
    padding: 2em;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* this is all the main contentent */

main {
    margin-bottom: 2em;
}

.main-content{
    padding: 40px

}

.wrapper{
    background-color: ;
}

.gallaryWrap{
    grid-area: m;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr 1fr;
}

.photoUnit{
    padding: 2em;
    background-color: #ded9c7;
}

.photoUnit > img{
    height: auto;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.photoUnit > p{
    margin-top: ;
}

.heroImg{
    grid-area: hr;
    position: relative;
}

.heroImg > img{
    width: 100%;
    height: auto;

}

.ather{
    width: 80%;
    padding: 30px;
    background-color: #edbcc0;

    content: "";
    clear: both;
    display: table;
}

.ather > h2{
    padding: 40px 10px 10px 10px;
}

.atherImg{
    max-width: 80px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.advert{
    margin: 40px;
}

.advert > img{
    width: 100%;
}

.column2 > P{
    padding: 40px;
    padding-top: 0px;
}




/* this is all the colume stuff stuff */
.columns {
    Width: 100%;
    background-color: ;
    float: right;
}
.column1, .column2 {
    width:100%;
}

.column2{
    background-color: #edbcc0;
}

@media (min-width: 1040px) {
    .column1 {
        width: 70%;
        float:left;
        background-color: ;
    }
      
    .column2 {
        width: 30%;
        float:right;
        background-color: ;
    }
}

@media (max-width: 1550px){
    .gallaryWrap{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px){
    .gallaryWrap{
        grid-template-columns: 1fr;
    }
    .photoUnit{
        display: inline-block;
    }
}